footer.footer#footer
    .container
        h2.footer__title Связаться с нами
        .footer__inner
            p.footer__descr
                | Оставьте заявку и  наш менеджер свяжется с  вами
                span.footer__descr--accent
                    |  в ближайшее время
            div.footer__form
                include ../form/_form.pug
        .footer__info
            div.footer__item
                span.footer__text Для сотрудничества:
                a.footer__link(href="mailto:info@gthrees.com") info@gthrees.com
            div.footer__item
                span.footer__text Телефон:
                a.footer__link(href="tel:+37517252225") +375(17)252-22-25
            div.footer__item
                span.footer__text Отдел продаж:
                a.footer__link(href="mailto:sales@gthrees.com") sales@gthrees.com