- 
	var data = [
		[
		"Автомобильные перевозки", 

		"Мы используем только надежный транспорт и квалифицированных водителей, чтобы обеспечить наивысший уровень сервиса для наших клиентов. Сотрудничая с нами, вы можете быть уверены, что ваш груз будет доставлен вовремя.",

		"our-services/auto",
		],
		[
		"Мультимодальные перевозки", 

		"Мы используем оптимальные комбинации различных видов транспорта - автомобильный, железнодорожный, воздушный и морской, чтобы обеспечить быструю и эффективную доставку вашего груза.",

		"our-services/modal"
		],
		[
		"Железнодорожные перевозки",

		"Мы предоставляем услуги железнодорожных перевозок грузов от пункта отправления до пункта назначения в срок не более 72 часов.",

		"our-services/train"
		],
		[
		"Перевозки тяжеловесных и негабаритных грузов",

		"Мы предоставляем высококачественные услуги по перевозке крупногабаритных грузов, которые требуют особого внимания и профессионального подхода.", 	

		"our-services/weight"
		],
		[
		"Перевозки опасных грузов",

		"Мы предлагаем высококонкурентные цены и широкий спектр услуг, включая упаковку и другие дополнительные услуги, чтобы обеспечить безопасность.",

		"our-services/danger"
		],
		[
		"Авиаперевозки",

		"Осуществляем доставку грузов от пункта отправления до пункта назначения в срок не более 72 часов.",

		"our-services/avia"
		]
	]

section.our-services
	.container 
		h2.our-services__title Наши услуги
		.our-services__content 
			each value in data
				article.our-services__item 
					a.our-services__link(href="#") 
						h3.our-services__subtitle= value[0]
						.our-services__container
							+img-simple(value[2], "our-services__img", 470, 500, "Auto", "lazy")
						p.our-services__descr= value[1]



