section.menu
	.menu__inner
		.menu__top-block
			.menu__content.menu__content--services
				h3.menu__title Услуги
				ul.menu__list
					li.menu__item
						a.menu__link(href='#') Авиаперевозки
					li.menu__item
						a.menu__link(href='#') Автомобильные перевозки
					li.menu__item
						a.menu__link(href='#') Мультимодальные перевозки
					li.menu__item
						a.menu__link(href='#') Железнодорожные перевозки
					li.menu__item
						a.menu__link(href='#') Перевозки опасных грузов
					li.menu__item
						a.menu__link(href='#') 
							| Перевозки тяжеловесных
							br
							| и негабаритных грузов
			.menu__content 
				h3.menu__title.menu__contacts Контакты
				.menu__box
					.menu__content
						span.menu__office-country Офис в Республике Беларусь
						.menu__info
							address.menu__address г. Минск, пер. Козлова, 7Г-7
							a.menu__phone(href='tel:+373287986')
								| Тел: +375 (17) 252-22-25
					.menu__content
						span.menu__office-country Офис в Российской Федерации
						.menu__info
							address.menu__address
								| 214013, г. Смоленск
								br
								| ул. Памфилова, 5; офис 217
					.menu__content
						a.menu__link-phone(href='tel:+37517252225') 
							| +375(17)252-22-25
						.menu__item
							span.menu__text Для сотрудничества:
							a.menu__link(href='mailto:info@gthrees.com') info@gthrees.com
						.menu__item
							span.menu__text Отдел продаж:
							a.menu__link(href='mailto:sales@gthrees.com') sales@gthrees.com
							a.menu__link-phone.menu__link-phone--hidden(href='tel:+37517252225') +375(17)252-22-25

