
section.faq 
	.container
		h2.faq__title Часто спрашивают
		.faq__accordion.accordion 
			article.accordion__item 
				.accordion__header 
					h3.accordion__title 
						| Как застрахован груз на международных грузоперевозках?
					button.accordion__btn(type="button" 
					aria-label="Accordin Button")
						+svg("go-to-arrow", "accordion__icon accordion__icon--active", 14, 14)
				.accordion__body.accordion__body--active 
					.accordion__content 
						p.accordion__text
							| Наша компания работает на рынке пять лет и за это время мы разработали чётко отлаженные подходы и стандарты по перевозки грузов любым видом транспорта в любом направлении. При этом всегда учитываются все требования и выдвигаемые условия каждого клиента.
						p.accordion__text
							| Наши специалисты используют индивидуальный подход к каждому клиенту и поэтому все нюансы выясняются еще на стадии оформления заявки на оказание услуги и предварительных консультаций в удаленном режиме.
						p.accordion__text 
							| Осуществляются грузоперевозки исключительно в соответствии с законодательными нормами, с составлением договора, имеющего юридическую силу.
			article.accordion__item 
				.accordion__header 
					h3.accordion__title 
						| Страхование грузов при международных перевозках: что нужно знать нашим клиентам?
					button.accordion__btn(type="button" aria-label="Accordin Button")
						+svg("go-to-arrow", "accordion__icon accordion__icon", 14, 14)
				.accordion__body
					.accordion__content 
						p.accordion__text 
							| При международных перевозках страхование груза является важным шагом для обеспечения его безопасности. Клиентам необходимо знать, что страховой полис должен соответствовать виду транспорта, маршруту, характеру и стоимости груза.
						p.accodion__text 
							| Некоторые страны требуют обязательного страхования, а другие - нет. В любом случае, компания-перевозчик должна предоставить информацию о доступных вариантах страхования и помочь выбрать наиболее подходящий для конкретной ситуации
			article.accordion__item 
				.accordion__header 
					h3.accordion__title 
						| Как мы разработали четко отлаженные подходы и стандарты по перевозке грузов?
					button.accordion__btn(type="button" aria-label="Accordin Button")
						+svg("go-to-arrow", "accordion__icon accordion__icon", 14, 14)
				.accordion__body
					.accordion__content 
						p.accordion__text 
							| Наша компания разработала четко отлаженные подходы к перевозке грузов, обеспечивая безопасность и надежность транспортировки.
						p.accordion__text 
							| Мы учитываем все требования и условия клиента и используем индивидуальный подход для выяснения всех деталей заранее.
						p.accordion__text 
							| Специалисты выполняют грузоперевозки в соответствии с законодательными нормами, с составлением договора, имеющего юридическую силу.
			article.accordion__item 
				.accordion__header 
					h3.accordion__title 
						| Процесс застрахования груза на международных перевозках: как это работает?
					button.accordion__btn(type="button" aria-label="Accordin Button")
						+svg("go-to-arrow", "accordion__icon accordion__icon", 14, 14)
				.accordion__body
					.accordion__content 
						p.accordion__text 
							| Страхование груза при международных перевозках включает выбор страховой компании и составление полиса, учитывая вид транспорта, маршрут, характер и стоимость груза. В случае повреждения или утери груза, клиент получает компенсацию в соответствии с условиями полиса. Компания-перевозчик должна предоставить информацию о страховых опциях и помочь выбрать подходящий вариант.
