section.services 
	.container 	
		h2.services__title Наши услуги
		p.services__descr 
			| Мы предлагаем высококачественный и эффективный логистический сервис, применяя индивидуальный подход к каждому нашему клиенту.
		.services-wrap 
			a.services__link(href="services.html") Все услуги
		.services__slider 
			include ../slider/_slider.pug