extends ../template/_default

block vars 
	- var title = "About company";

block hero-content 
	include ../components/hero-about-company/_hero-about-company
	include ../components/cite/_cite
	include ../components/company-info/_company-info
	include ../components/management/_management
	include ../components/history/_history
	include ../components/questions/_questions