extends ../template/_default

block hero-content
	include ../components/hero/_hero

block main-content
	include ../components/advances/_advances
	include ../components/about/_about
	include ../components/services/_services
	include ../components/benefits/_benefits
	include ../components/partners/_partners
	include ../components/news/_news
	include ../components/questions/_questions



