extends ../template/_default 

block vars 
    - var title = "News"

block hero-content
    include ../components/hero-news/_hero-news
block main-content
    include ../components/news-list/_news-list