extends ../template/_default

block vars 
	- var title = "Services"

block hero-content
	include ../components/hero-services/_hero-services
block main-content
	include ../components/our-services/_our-services
	include ../components/questions/_questions