extends ../../template/_hero-section

block vars 
	- var section_title = "Услуги"
	- var section_name = "hero-services"
	- var section_text = "Мы предлагаем эффективные решения, основываясь на нашем опыте в следующих областях: транспортно-экспедиционное обслуживание клиентов, контрактная логистика и оптимизация цепочек поставок."

