section.lead 
	.container 	
		h2.lead__title Руководство
		.lead__content 
			.lead__info
				+img-simple("management/boss", "lead__photo", 615, 758, "Top management", "lazy")
				span.lead__position Генеральный директор
			.lead__person-info 
				span.lead__name Сергей Смирнов
				.lead__descr 
					p.lead__text 
						|  Создание благоприятной среды взаимопонимания и взаимоуважения всех участников цепочки поставок, соблюдая национальные и международные законы и правила, а также строгие этические принципы ведения бизнеса.
					br
					p.lead__text 
						| Наше видение и цель неразрывно связаны с постоянным стремлением к улучшению и оптимизации на протяжении всего жизненного цикла компании, что является ключевым элементом системы корпоративных ценностей.
				+img-simple("management/boss-name", "lead__icon", 384, 100, "Top management name", "lazy", "svg")