<section class="offer">
	<div class="container">
		<div class="offer__accordion accordion">
			<article class="accordion__item">
				<div class="accordion__header">
					<h3 class="accordion__title">Водитель международных перевозок</h3>
					<button class="accordion__btn" aria-label="accordion__button">
						<svg
							class="accordion__icon accordion__icon--active"
							width="12"
							height="12"
						>
							<use
								xlink:href="/icons/svg_sprite/sprite.svg#go-to-arrow"
							></use>
						</svg>
					</button>
				</div>
				<div class="accordion__body accordion__body--active">
					<div class="accordion__content">
						<div class="accordion__info">
							<p class="accordion__text">
								Наша компания ищет опытного водителя международных
								перевозок для работы на постоянной основе. Мы предлагаем
								конкурентную зарплату, стабильную работу и возможности для
								карьерного роста.
							</p>
							<br />
							<p class="accordion__text">
								В качестве нашего водителя международных перевозок вы
								будете работать со современной техникой и оборудованием,
								которые регулярно проходят технические обслуживания и
								проверки. Мы предоставляем все необходимые условия для
								комфортного проживания во время командировок, включая
								оплату гостиниц и питание. Мы также ценим наших
								сотрудников и предлагаем различные программы поощрения и
								бонусы за достижение высоких результатов. Кроме того, мы
								предоставляем полный комплект документов для работы за
								границей и оформляем все необходимые визы и разрешения.
							</p>
							<br />
							<p class="accordion__text">
								Если вы желаете присоединиться к нашей команде и
								удовлетворяете всем нашим требованиям, отправьте свое
								резюме и мы с радостью рассмотрим вашу кандидатуру.
							</p>
						</div>
						<ul class="accordion__list">
							Требуемый опыт работы:
							<li class="accordion__item">
								Опыт работы водителем не менее 3 лет;
							</li>
							<li class="accordion__item">
								Водительские права категории СЕ;
							</li>
							<li class="accordion__item">
								Хорошее знание правил дорожного движения и навыки
								безопасной езды;
							</li>
							<li class="accordion__item">
								Знание языка стран Европейского союза;
							</li>
							<li class="accordion__item">
								Готовность к длительным командировкам.
							</li>
						</ul>
						<h4 class="accordion__subtitle">Обязаности</h4>
						<div class="accordion__info">
							<p class="accordion__text">
								В качестве водителя-дальнобойщика на территории
								Европейского союза, вашими главными обязанностями будут
								перевозка различных грузов с места на место. Однако это
								далеко не единственное, чем вы будете заниматься на своей
								работе. В течение всего рабочего дня вы также будете
								отвечать за соблюдение правил дорожного движения и
								поддержание технического состояния транспорта.
							</p>
							<br />
							<p class="accordion__text">
								Кроме того, вам придется контролировать
								погрузочно-разгрузочные операции, чтобы убедиться, что
								груз был правильно загружен и разгружен. Это также поможет
								избежать повреждения груза и оборудования, а также
								избежать непредвиденных задержек. При необходимости вам
								может потребоваться помощь коллег или представителей
								заказчика, чтобы выполнить эти задачи более эффективно.
							</p>
							<br />
							<p class="accordion__text">
								Если Вас заинтересовала вакансия, прикрепите и отправте
								резюме с указанием интересующей сферы деятельности и
								зарплатными ожиданиями
							</p>
						</div>
						<div class="accordion__form form-offer">
							<form action="#" class="form-offer__inner">
								<div class="form-offer__wrapper">
									<input
										type="text"
										name="input-name"
										id="user.name"
										placeholder="Имя"
										required
										class="form-offer__input"
									/>
									<input
										type="text"
										name="input-family"
										id="user.family"
										placeholder="Фамилия"
										required
										class="form-offer__input"
									/>
									<input
										type="tel"
										name="input-tel"
										id="user.tel"
										placeholder="Телефон"
										required
										class="form-offer__input"
									/>
									<input
										type="email"
										name="input-mail"
										id="user.mail"
										placeholder="E-mail"
										required
										class="form-offer__input"
									/>
									<textarea
										name="textarea"
										id="user.comment"
										rows="1"
										placeholder="Комментарий"
										class="form-offer__comment"
									></textarea>
								</div>
								<p class="accordion__text">Прикрепите своё резюме</p>
								<div class="form-offer__resume-box">
									<input type="file" class="form-offer__file" />
									<span class="form-offer__rules">
										Размер файла: не более 3MB. Форматы: doc, docx,
										pdf, ppt, pptx
									</span>
								</div>
								<p class="form-offer__text">
									Нажимая на кнопку «Отправить» вы принимаете условия
									<a href="#" class="form-offer__link">
										Политики кофиденциальности
									</a>
									и
									<a href="#" class="form-offer__link">
										Обработки персональных данных
									</a>
									.
								</p>
							</form>
						</div>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>
