@@include("../menu/menu.html")
<section class="hero-jobs outer-container">
	<div class="container">
		<div class="hero-jobs__content">
			<h1 class="hero-jobs__title">Вакансии</h1>
			<p class="hero-jobs__text">
				Среди наших клиентов существует постоянная потребность в доставке грузов
				авиасообщением. Поэтому для оказания полного комплекса логистических услуг
				мы решили открыть направление авиаперевозок.
			</p>
			<div class="hero-jobs__social">
                @@include("../social/social.html")
            </div>
			<div class="hero-jobs__link">
				@@include("../social-link/social-link.html")
			</div>
		</div>
	</div>
</section>
