@media (max-width: 801px) {
	.hero-jobs {
		&__text {
			width: 75%;
		}
	}
}

@media (max-width: 425px) {
	.hero-jobs {
		&__text {
			width: 100%;
		}

		&__social {
			display: none;
		}

		&__link {
			justify-content: center;
		}
	}
}
