extends ../../template/_hero-section

block vars 
	- var section_title = "Новости"
	- var section_name = "hero-news"
	- var section_text = "Узнавайте о новых услугах, достижениях и событиях в индустрии логистики. Будьте в курсе изменений в расписании работы и других важных обновлениях, которые могут повлиять на ваши грузоперевозки."
