span.label.hero__label GTHRESS
section.hero.container-outer 
	.container 
		.hero__inner 	
			.hero__content 
				h1.hero__title Транспортно
					span.hero__title--right Экспедиционная
				span.hero__title.hero__title--not-accent Компания
				p.hero__descr
					| Мы стремимся обеспечить высокий уровень сервиса, предлагая Вам наилучшее решение с точки зрения стоимости, качества и времени.
				a.hero__link(href="services.html") Наши услуги
			.hero__social
				include ../social/_social.pug
			.hero__social-wrap
				include ../social-link/_social-link.pug