$path-to-img: "../img/";
$path-to-icon: "../icons/";

$container-width: 1485px;
$outer-container-width: 1920px;

$radius-base: 4px;

$gap-base: 20;
$gap-medium: 30;
$gap-large: 40;

$offset-extra-small: 20;
$offset-small: 30;
$offset-base: 40;
$offset-large: 60;
$offset-extra-large: 90;
