section.advances
	.container 
		h2.advances__title Наши достижения
		dl.advances__list 
			.advances__item 
				dt.advances__key Частота загрузок
				dd.advances__value 61
					span.advances__value-text мин
			.advances__item 
				dt.advances__key Грузов перевезенок
				dd.advances__value 287 
					span.advances__value-text тыс.
			.advances__item 
				dt.advances__key Количество партнёров 
				dd.advances__value  3 165
			.advances__item 
				dt.advances__key Пройденное расстояние
				dd.advances__value 42 
					span.advances__value-text млн. км