div.cite
    .container 
        blockquote.cire__content 
            p.cite__text 
                | Мы стремимся обеспечить высокий уровень сервиса, предлагая вам наилучшее решение с точки зрения стоимости, качества и времени. 
                
