extends ../../template/_hero-section

block vars 
    - var section_name = "hero-about"
    - var section_text = "Благодаря тесному сотрудничеству с лучшими транспортными компаниями мы способны предложить качественный и эффективный логистический сервис."

block content
    .container
        h1.label.hero-about__notes О компании
        span.label.hero__label GTHRESS